dependency-injector
fastapi~=0.86.0
uvicorn
pyyaml
sqlalchemy~=1.4.44
requests
aiofiles
python-multipart
pydantic~=1.10.2
passlib~=1.7.4
python-jose
bcrypt
deta
strawberry-graphql
jinja2
starlette~=0.20.4
itsdangerous